.nav {
    &__list {
        display: flex;
        column-gap: 40px;
        align-items: center;
    }
    // &__item {
    // }
    &__link {
        font-weight: 500;
        line-height: 16px;
        text-align: left;
    }
}