.proringo {
    background: #fff;
    &-container {
        position: relative;
        padding-top: 140px;
        padding-bottom: 140px;
        color: #282B22;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        width: 100%;
        max-width: 814px;
        font-size: 36px;
        font-weight: 600;
        line-height: 47px;
        text-align: center;
        margin-bottom: 80px;
    }
    &__list {
        display: flex;
        align-items: center;
        border-top: 1px solid #bebebc;
        border-bottom: 1px solid #bebebc;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__item {
        display: flex;
        align-items: center;
        column-gap: 15px;
        padding-left: 60px;
        border-right: 1px solid #bebebc;
    }
    &__item2 {
        display: flex;
        align-items: center;
        column-gap: 15px;
        padding-left: 60px;
    }
    &__desc {
        width: 100%;
        max-width: 403px;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        text-align: left;
    }
    &__desc2{
        width: 100%;
        max-width: 370px;
    }
    .dizayn3{
        position: absolute;
        left: -80px;
        top: 100px;
    }
    .dizayn4{
        position: absolute;
        right: -80px;
        top: 243px;
    }
}